EXPO_PUBLIC_SUPABASE_URL=https://ggrtavmlclgxmhzjuozn.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdncnRhdm1sY2xneG1oemp1b3puIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQyMDcxMDksImV4cCI6MjA4OTc4MzEwOX0.S5hRIa_-Mo9nQ97EnbwMfqmZv0ytyb-EiURMSrclpd8
EXPO_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_3ZVgI_13epcYrpGwL2dHFA_PmofOf7i
EXPO_PUBLIC_RESET_PASSWORD_URL=https://ios-etkinlik-yonetim.vercel.app/reset-password
